
.containermain {
    display: flex;
    flex-direction: column;
    margin-left: 350px ;
    margin-right: 350px;
}

.header{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 80%;
    border: green 1px solid;
}

.hola {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid red 1px;
    width: 20%;
    font-size: 30px;
    font-weight: 600;
}  

.hola p {
    margin: 0;
}

.containercenter {
    display: flex;
    height: 150px;
    background-color: white;
    border: solid black 1px;
    
}

.caja {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 80%;

}
.containerleft {
    display: block;
    justify-content: left;
    background-color: white; 
    width: 80%;
    border: solid black 1px;
}

.containerright {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 20%;
    border: solid black 1px;
    height: 100%;
}

.containerright ul {
    height: 100%;
    width: 100%;
    padding: 0;
}

.containerright li {
    list-style: none;
    border: solid;
    border-width: 0 0px 2px 0px;
    padding: 0.5rem 0.2rem;
}

/*aqui comienza el contenedor central hecho con columnas */

.sectionup { /*IMAGEN COCHE*/
    background: url(/assets/images/audir8.jpeg);
    max-width: 800px;
    height: 30%;
    background-position: center;
    background-size: cover;
}
.sectionup p {
    color: white;
    text-align: center;
}

.central {
    border: solid black 1px;
    max-width: 800px;
    height: 20%;
    align-items: center;
}

.central p {
    border: solid;
    border-width: 0 2px 0px 0;
    border-style: double;
}

.der {
    float: right;
    display: flex;
    max-width: 33%;
    margin-right: 10px;
    margin-left: 20px;
    border: 0 0 0 0 ;
}

.izq {
    float: left;
    display: flex;
    max-width: 33%;
    margin-right: 33px;
    margin-left: 10px;
}

.cent {
    align-items: center;
    display: flex;
    max-width: 33%;
    margin:0;
}
.bajo {
    height: 30%;
}

.subimg { /*segunda imagen */
    background: url(/assets/images/ad_personam_02.jpg);
    background-size: cover;
    height: 100%;
    /* max-width: 800px; */
    background-position: center;
}
.subimg p {
    color: white;
}

.lasttex {
    /* height: 40%; */
    max-width: 800px;
    border: solid black 1px;
}

@media screen and (min-width: 768px) {
    .containermain { 
    max-width: 720px; }
}
@media screen and (min-width: 1440px) {
    .containermain { 
    max-width: 1330px; }
}

